 
 <link rel="stylesheet" href="../../../start/layui/css/layui.css" media="all">
 <div class="layui-fluid">
    <div class="layui-row">
    	<div class="layui-col-md2 layui-col-xs2 layui-col-sm2"></div>
	      <div class="layui-col-md8 layui-col-xs8 layui-col-sm8" style="margin-left: 80px;margin-top: 20px;">
				<form class="layui-form" lay-filter="myform" >
					<div class="layui-form-item" >
						<label class="layui-form-label ">产品名称:</label>					          
					    <div class="layui-inline ">
				             <select  id='ProductionName'  name="ProductionName" lay-filter="userFilter" lay-search="" calss="departmentId">
				              <option value="0">请选择产品</option>
				            </select>
				        </div>          
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">包装箱类型:</label>
							<input type="text" name="BoxType"  id="BoxType" lay-verify="required" autocomplete="off" class="layui-input layui-input-block">
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">箱子大小:</label>
							<input type="text" name="MaxAcount" id="MaxAcount" lay-verify="required|number" autocomplete="off" class="layui-input layui-input-block">
					</div>
					<div class="layui-form-item" style="margin:25px 0 0 80px;">
							<button id="submited" class="layui-btn" lay-submit lay-filter="form_box_type" style="display: none" ></button>
					</div>
				</form>
	  		</div>
  		<div class="layui-col-md2 layui-col-xs2 layui-col-sm2"></div>
 	</div>
</div>

    <script src="../../../start/layui/layui.js"></script>
	<script src="../../lib/jquery-1.9.1.js"></script>
	<script src="../../lib/js/box/add_box_type.js"></script>