 <link rel="stylesheet" href="../../../start/layui/css/layui.css" media="all">
<div class="demoTable" style="margin: 5px;">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">
    <div class="layui-col-md2">
      <button class="layui-btn layui-btn-sm"  id="add_checker">添加</button> 
      <button class="layui-btn layui-btn-warm layui-btn-sm"  id="edit_checker">编辑</button> 
      <button class="layui-btn layui-btn-danger layui-btn-sm"  id="dele_checker" >删除</button> 
    </div>
    <div class="layui-col-md9">
    </div>
  </div>
 </div>	  
   <div>
	 <div class="layui-fluid">
    <div class="layui-row ">
    	<div class="layui-col-md12">
	 			<table class="layui-hide" id="LAY_table_checker" lay-filter="checker"></table> 
	 		</div>
		</div>
	</div>	 
</div>
</div>
<!-------------js-------------->
  <script src="../../../start/layui/layui.js"></script>
  <script src="../../lib/jquery-1.9.1.js"></script>
  <script src="../../lib/js/system/add_edgetrimmer.js"></script>