<link rel="stylesheet" href="../../../start/layui/css/layui.css" media="all">

<form class="layui-form" style="margin:30px  0 0 80px;">
	<div class="layui-form-item">
		<input type="hidden" name="RoleId" placeholder="" autocomplete="off" class="layui-input layui-input-block RoleId">
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">角色编号:</label>
		<input type="text" name="EnCode" placeholder="" autocomplete="off" class="layui-input layui-input-block EnCode">
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">角色名称:</label>
		<input type="text" name="FullName" placeholder="" autocomplete="off" class="layui-input layui-input-block FullName">
	</div>
	<div class="layui-form-item" >
		<label class="layui-form-label">客户端类型:</label>
		    <div class="layui-inline ">
		      <select  id='ClientType'  name="ClientType" lay-filter="userFilter" calss="ClientType">
		            <option value="0"></option>
		             <option value="1">WEB端</option>
		             <option value="2">Ipad端</option>
		              <option value="3">PC端</option>
		      </select> 
		    </div>
	</div>	
	<div class="layui-form-item">
		<label class="layui-form-label">备注:</label>
		<input type="text" name="Description" placeholder="" autocomplete="off" class="layui-input layui-input-block Description">
	</div>
	<div class="layui-form-item" style="margin-left: 112px;">
		<input type="radio" name="EnabledMark" id="check1" lay-filter="check1" value="1" title="有效" class="check1">
		<input type="radio" name="EnabledMark" id="check2" lay-filter="check2" value="0" title="无效" class="check2">
	</div>
	<div class="layui-form-item" style="margin:25px 0 0 80px;">
		<button id="Editsubmited" class="layui-btn" lay-submit lay-filter="form_role" style="display: none"></button>
	</div>
</form>

<script src="../../lib/jquery-1.9.1.js"></script>
<script src="../../../start/layui/layui.js"></script>
<script src="../../lib/js/system/edit_role.js"></script>