 
 <link rel="stylesheet" href="../../../start/layui/css/layui.css" media="all">
	<form class="layui-form" style="margin:30px  0 0 80px;">
		<div class="layui-form-item">
				<input type="hidden" name="ID" id="ID" autocomplete="off" class="layui-input layui-input-block ID">
		</div>
		<div class="layui-form-item" >
			<label class="layui-form-label">产品名称:</label>
			<div class="layui-inline">
		         <select  id='ProductID'  name="ProductID" lay-search="" lay-filter="userFilter">
		                <option value="0">-请产品名称-</option>
		      </select> 
		    </div>
		</div>
		<div class="layui-form-item" layui-hide="true">
			<label class="layui-form-label">包装箱类型:</label>
				<input type="text" name="BoxType" placeholder="请输入" autocomplete="off" class="layui-input layui-input-block BoxType">
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">箱子大小:</label>
				<input type="text" name="MaxAcount" placeholder="请输入" autocomplete="off" class="layui-input layui-input-block MaxAcount">
		</div>
		<div class="layui-form-item" style="margin:25px 0 0 80px;">
				<button id="Editsubmited" class="layui-btn" lay-submit lay-filter="form_box" style="display: none"></button>
		</div>
	</form>
<script src="../../../start/layui/layui.js"></script>
<script src="../../lib/jquery-1.9.1.js"></script>
<script src="../../lib/js/box/edit_box_type.js"></script>