<link rel="stylesheet" href="../../../start/layui/css/bootstrap.min.css" media="all">
	<div class="layui-form-item">
		<input type="hidden" name="RoleId" id="RoleId"  autocomplete="off" class="layui-input layui-input-block RoleId">
	</div>
	
<title>菜单</title>
	
<div style="margin: 10px;">
	 <div id="treeview"></div>
</div>
<button id="submited" class="layui-btn" lay-submit lay-filter="form_shelf" style="display: none" ></button>
 <script src="../../../start/layui/layui.js"></script>
<script src="../../lib/jquery-1.9.1.js"></script>
<script src="../../lib/js/system/IMpower.js"></script>
<script src="../../lib/bootstrap-treeview.js"></script>