<link rel="stylesheet" href="../../../start/layui/css/layui.css" media="all">

<title>角色列表</title>

<div class="layui-fluid">
	<div class="layui-row layui-col-space1">
		<form class="layui-form">
			<div class="layui-form-item">
					<input type="hidden" name="UserId" id="UserId" placeholder="" autocomplete="off" lay-verify="required" class="layui-input layui-input-block UserId">
			</div>
			<div class="layui-form-item" >
			    <label class="layui-form-label">选择角色:</label>
			    <div  class="RoleCheckBoxId" id="RoleCheckBoxId"  name="roleids"></div>  
		   </div>
		   	<div class="layui-form-item" style="margin:25px 0 0 80px;">
				<button id="submited" class="layui-btn" lay-submit lay-filter="form_role" style="display: none" ></button>
			</div>
		</form >
	</div>
</div>

 <script src="../../../start/layui/layui.js"></script>
<script src="../../lib/jquery-1.9.1.js"></script>
<script type="text/javascript">
	layui.use(['tree', 'layer', 'form'], function() {
		var layer = layui.layer,
			$ = layui.jquery,
			form = layui.form;
	       id= getquery("id");		
	    	getCheckBox();	
	    	layui.form.render('checkbox');
 form.on('submit(form_role)', function(obj){
 	var field = obj.field;
 	 	roles=field.roleids;
 	 Data2=JSON.stringify(roles).replace(/\"/g,"");
	 Data=JSON.stringify(Data2).replace(/\[/g,"");
	 Data1=JSON.stringify(Data).replace(/\]/g,""); 
	 data1=JSON.parse(Data1).replace(/\"/g,"");
			  $.ajax({
					type:"post"
					,url:parent.layui.setter.Test_url+"/BaseManage/User/SetRole"
					,data:{
						keyValue:field.UserId,
						roleids:data1
					}
					,dataType: "json"
		//		    ,contentType:"application/json"
	   				,beforeSend: function(request) {
					 request.setRequestHeader("token",localStorage.getItem("token"));
					   }					
					,success:function(data){							
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							parent.layer.close(index);
					   }
				 });
			    return false;
			  });	
			  
	function getquery(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"),
				r = window.location.search.substr(1).match(reg);
			if(r != null) return unescape(r[2]);
			return null;
		};		
					  
		
	function getCheckBox(){
				$.ajax({
						url :parent.layui.setter.Test_url+"/BaseManage/User/GerUserRole",
						type : 'post',
						dataType: "json",
						data:{
							keyValue:id
						},
				    //	contentType:"application/json",
		   				beforeSend: function(request) {
						 request.setRequestHeader("token",localStorage.getItem("token"));
						   },				
						success : function(result) {
							$.each(result, function (index, item) {
										var optionStr1 = "";
										optionStr1 += '<input type="checkbox" lay-filter="CheckRole" name="roleids" '+(item.checkstate==true?"checked":" ")+' value="' + item.RoleId + '" title="'+item.FullName+'">';
										 $("#RoleCheckBoxId").append(optionStr1);
										 layui.form.render('checkbox');
									});
						},
						error : function(data) {
							alert('查找板块报错');
						}
					});
			}		
	});
</script>