<div style="margin: 10px;">
<title>库存日报表</title>
<div class="demoTable" >
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">
      <div class="layui-col-md2">
        <div class="layui-inline layui-form">
            <select class="layui-input-block" name="ProductionIDD" id="ProductionIDD" lay-search="" lay-filter="aihao">
              <option value="">请选择产品</option>
            </select>
        </div>
      </div>
     <div class="layui-col-md2">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input type="text"  id="State_dateD" name="State_dateD" placeholder="时间" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
    <div class="layui-col-md1">
      <button class="layui-btn" id="StateDay_query">查找</button>
    </div>   
    <div class="layui-col-md1">
      <button class="layui-btn" id="bills_production_query1">导出</button>
    </div>
    <div class="layui-col-md4">
    </div>
  </div>
 </div>
</div>
<table class="layui-hide" id="LAY_table_StateDay" lay-filter="user"></table> 
<div class="admin-table-page">
		<div id="StateDaypaged1" class="StateDaypage1"></div>
</div>
</div>
<!-------------js-------------->
<script src="../src/lib/js/statement/day.js"></script>