<title>货架管理</title>

<div class="demoTable" style="margin-top:90px;position:fixed; height:40px;  width:100%; left:0px; top:0px; z-index:99; ">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">   	
      <div class="layui-col-md2">
      </div>
    <div class="layui-col-md1">
    </div>
    <div class="layui-col-md2"></div>
    <div class="layui-col-md4">
		 <div class="layui-btn-group ">
		 	<button class="layui-btn addOne-btn">单个增加</button>
			<button class="layui-btn layui-btn-normal add-btn">批量增加</button>
		  <button class="layui-btn layui-btn-warm edit-btn" >编辑</button>
			<button class="layui-btn layui-btn-danger remove-btn">删除</button>
		</div>
    </div>
    <div class="layui-col-md3"></div>
  </div>
 </div>
 </div>
 		<div style="margin:10px; margin-top: 60px;">
			<div id="treeview"></div>
		</div>			

		
		
<script src="../src/lib/js/warehouse/shelf.js"></script>
<script src="../src/lib/bootstrap-treeview.js"></script>