<title>移库栈板单</title>
<div class="demoTable" style="margin: 5px;">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">
      <div class="layui-col-md2">
        <div class="layui-inline">
          <input class="layui-input" name="TransferOrderNo" id="TransferOrderNo" placeholder="请输入转仓单号" autocomplete="off"> 
        </div>
      </div>
      <div class="layui-col-md2">
        <div class="layui-inline layui-form">
            <select class="layui-input-block" name="trans_Select" id="trans_Select" lay-search="" lay-filter="aihao">
              <option value="">请选择产品</option>
            </select>
        </div>
      </div>
      <div class="layui-col-md2">
        <div class="layui-inline">
          <div class="layui-input-inline">
            <input type="text" name="tr_date" id="tr_date" lay-verify="tr_date" placeholder="开始时间" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
     <div class="layui-col-md2">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input type="text" name="tr_date1" id="tr_date1" lay-verify="tr_date1" placeholder="结束时间" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
    <div class="layui-col-md2">
      <button class="layui-btn" id="trans_Serch">搜索</button>
    </div>
    <div class="layui-col-md2">
    </div>
  </div>
 </div>
 <table class="layui-hide" id="LAY_table_trans" lay-filter="user"></table> 
<div class="admin-table-page" style="margin-bottom: 50px;">
		<div id="transpaged" class="transpaged"></div>
</div>
</div>

<script type="text/html" id="Transstatus">
	
	  {{#  if(d.status==0){ }}
    <span style="color: #F581B1;">待确认</span>
  {{#  } else if(d.status==1){ }}
     <span style="color: #B92C28;">己生移库单</span>   
  {{#  } }}	
</script>
<!-------------js-------------->
<script src="../src/lib/js/bills/transferstack.js"></script>