<div style="margin: 10px;">
<title>月进销存报表</title>
<div class="demoTable" >
  <div class="layui-fluid">
    <div class="layui-row">  	
      <div class="layui-col-md2">
        <div class="layui-inline layui-form">
            <select class="layui-input-block" name="ProductionIDM" id="ProductionIDM" lay-search="" lay-filter="aihao">
              <option value="">请选择产品</option>
            </select>
        </div>
      </div>
     <div class="layui-col-md2">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input type="text"  id="Purchase_dateM" name="Purchase_dateM" placeholder="时间" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
     <div class="layui-col-md1">
      <button class="layui-btn" id="PurchaseM_query">查找</button>
    </div>
    <div class="layui-col-md1">
      <button class="layui-btn" id="bills_production_query3">导出</button>
    </div>
    <div class="layui-col-md4">
    </div>
  </div>
 </div>
</div>
<table class="layui-hide" id="LAY_table_PurchaseM" style="margin-bottom: 30px;" lay-filter="user"></table> 
<div class="admin-table-page">
		<div id="PurchasepagedM" class="PurchasepageM"></div>
</div>
</div>
<!-------------js-------------->
<script src="../src/lib/js/statement/PurchaseM.js"></script>