<title>客户信息</title>
<div class="demoTable" style="margin: 5px;">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">
      <div class="layui-col-md2">
        <div class="layui-inline">
          <input class="layui-input" name="Custom" id="Custom" placeholder="请输入客户名称" autocomplete="off"> 
        </div>
      </div>
      <div class="layui-col-md2">
        <button class="layui-btn" id="QueryCustom">搜索</button>
      </div>
      <div class="layui-col-md8">
    </div>
  </div>
 </div>
 <table class="layui-hide" id="Custome" lay-filter="user"></table>
 <div class="admin-table-page" style="margin-bottom: 50px;">
		<div id="Custome_paged" class="Custome_paged"></div>
</div>

</div>

<!-------------js-------------->
<script src="../src/lib/js/custom/cu_message.js"></script>
