<title>栈板信息</title>
<div class="demoTable" style="margin:5px;">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">
      <div class="layui-col-md2">
        <div class="layui-inline">
          <input class="layui-input" name="barcode" id="barcode" placeholder="请输入栈号"  autocomplete="off"> 
        </div>
      </div>
      <div class="layui-col-md2">
        <div class="layui-inline">
          <div class="layui-input-inline">
            <input type="text" name="pa_date" id="pa_date" lay-verify="pa_date" placeholder="开始时间" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
     <div class="layui-col-md2">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input type="text" name="pa_date1" id="pa_date1" lay-verify="pa_date1" placeholder="结束时间" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
    <div class="layui-col-md2">
      <button class="layui-btn" id="pa_historySerch">查找</button>
    </div>
    <div class="layui-col-md4">
    </div>
  </div>
 </div>
		 <table class="layui-hide" id="LAY_table_Pahistory" lay-filter="user"></table> 
		<div class="admin-table-page" style="margin-bottom: 50px;">
				<div id="palletHistorypaged" class="palletHistorypaged"></div>
		</div>
</div>

<script type="text/html" id="OperationType">
		
  {{#  if(d.operationtype==1){ }}
    <span style="color: #F581B1;">创建</span>
  {{#  } else if(d.operationtype==2){ }}
     <span style="color: #B92C28;">移入</span>
  {{#  } else if(d.operationtype==3){ }}
     <span style="color: #009688;">入库</span> 
  {{#  } else if(d.operationtype==4){ }}
     <span style="color: #009688;">移出</span> 
  {{#  } else if(d.operationtype==5){ }}
     <span style="color: #009688;">移库</span> 
  {{#  } else if(d.operationtype==6){ }}
     <span style="color: #009688;">出库</span>  
  {{#  } }}
	
</script>
<!-------------js-------------->
<script src="../src/lib/js/pallet/pa_history.js"></script>